%h1 Overview

%table
  %tr
    %th User
    %th Owes you
    %th You owe
  - User.without(current_user).each do |user|
    - sum       = user.owes(current_user)
    - self_debt = current_user.owes(user)
    - result    = (sum - self_debt).abs
    - unless sum == 0 && self_debt == 0
      %tr
        %td= link_to user.email, transactions_path(:user => user.id)

        %td{:class => :green}= number_to_currency(result, :locale => :fr) if sum > self_debt
        %td{:class => :red}=   number_to_currency(result, :locale => :fr) if sum < self_debt
