%h1 Overview

%table{:cellspacing => 0}
  %tr
    %th User
    %th Owes you
    %th You owe
  - User.without(current_user).each do |user|
    %tr
      %td= link_to user.email, transactions_path(:user => user.id)
      - sum = dept_status_for(current_user, user)
      - if sum > 0
        %td
        %td= number_to_currency(sum, :locale => :fr)
      - elsif sum < 0
        %td= number_to_currency(-1 *sum, :locale => :fr)
        %td
      - else
        %td
        %td

