//= require_self
//= require_tree .

@import "compass";                  // Import Compass library
@import "compass/reset";            // Import Reset Compass
@import "blueprint";                // Import Blueprint Grid System
@import "core/variables";           // Base variables repository, Bootstrap variables overwrites
// @import "styles";

/********************************************/
/*                                          */
/*  THIS SHOULD BE IN THE FILE "VARIABLES"  */
/*                                          */
/********************************************/

// GLOBAL VALUES
// --------------------------------------------------

// Color Scheme
$generalBackgroundColor:  #E0FFFF !default;
$generalTextColor:        #333 !default;
$generalBorderColor:      #DDD !default;

// Typography
$generalFont:             'Droid Sans', Helvetica, Arial, sans-serif !default;
$generalFontSize:         16px  !default;
$generalLineHeight:       1.5em !default;

// Headers
$headerFontFamily:  'Droid Serif', Georgia, Times, serif !default;
$headerFontWeight:  bold;
$headerFontStyle:   normal;
$headerFontColor:   #333;


$defaultInputBorderRadius:  4px !default;


input {
  border: 1px solid #DDD;
  font-size: 14px;
  padding: 8px;
  @include border-radius($defaultInputBorderRadius);
}


/********************************************/
/*                                          */
/*    THIS SHOULD BE IN THE FILE "LAYOUT"   */
/*                                          */
/********************************************/
#top-bar {
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1000;
}
#top-bar-inner {
  background-color: #1B1B1B;
  height: 40px;
  @include linear-gradient(#111,#222);
  @include pie-clearfix;
  & > ul {
    list-style: none;
    & > li {
      float: left;
    }
  }
  a {
    display: block;
    margin: 7px 15px 7px;
    color: #999;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    &:hover {
      color: #fff;
    }
  }
  .button {
    margin-top: 5px;
  }
}
.border-wrapper {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.button-green {
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFF !important;
  padding: 2px 12px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  transition: background-color .3s;
  @include border-radius($defaultInputBorderRadius);
  @include linear-gradient(#62C462, #51A351);
  &:hover {
    background: #51A351;;
  }
}
#footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  h1 {
    font-size: 54px;
    opacity: .15;
  }
}

/********************************************/
/*                                          */
/*  THIS SHOULD BE IN THE FILE "BOOTSTRAP"  */
/*                                          */
/********************************************/
.pull-right {
  float: right;
}

/********************************************/
/*                                          */
/*    THIS SHOULD BE IN THE FILE "FORM"     */
/*                                          */
/********************************************/
form {
  background-color: #fff;
  border: 1px solid $generalBorderColor;
  padding: 20px;
  @include border-radius($defaultInputBorderRadius);
}

/********************************************/
/*                                          */
/*    THIS SHOULD BE IN THE FILE "ERROR"    */
/*                                          */
/********************************************/
#error_explanation {
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  color: #B94A48;
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  @include border-radius($defaultInputBorderRadius);
  h2 {
    color: inherit;
  }
}

/********************************************/
/*                                          */
/*    THIS SHOULD BE IN THE FILE "STYLES"   */
/*                                          */
/********************************************/
*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  background-color: $generalBackgroundColor;
  font: $generalFontSize $generalFont;
  line-height: $generalLineHeight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFontFamily;
  font-weight: $headerFontWeight;
  font-style: $headerFontStyle;
  color: $headerFontColor;
}
h1 {
  padding-top: 20px;
  padding-bottom: 20px;
}
h2 {
  font-size: 24px;
}



a {
  color: #84BCDE;

  &:hover {
   color: #fff;
  }
}

#container {

  @include container;
  @include pie-clearfix;
  #header, #footer {
    @include column(24, true); }
  #sidebar {
    @include column(3);
    margin-top: 21px;
  }
  #content {
    @include column(20, true); }

  #header {
    .user-menu {
      float: right;
    }
  }

  table {
      $table-color: #7a98c6;
      @include table-scaffolding;
      @include inner-table-borders(2px);
      @include outer-table-borders(2px);
      td, th {
        padding: 5px;
      }
  }

  .multi {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    #debtors {
      label {
        width: 24%;
      }
    }
  }

  label {
    float: left;
    width: 25%;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.flash {
  padding: 5px;
  .notice {
    @include notice;
    background-color: #DADBB1;
    border-color: #DADBB1;
  }
}
.user_new input[type="email"], .user_new input[type="password"] {
  background: #fff image-url("icons/credentials.png") no-repeat;
  height: 34px;
  line-height: 15px;
  padding-left: 30px;
  &#user_password {
    background-position: -8px -141px;
    @include border-top-radius(0)
  }
  &#user_email {
    background-position: -10px -104px;
    margin-bottom: -1px;
    @include border-bottom-radius(0)
  }
}
