//= require_self
//= require_tree .

@import "compass";                  // Import Compass library
@import "blueprint";                // Import Blueprint Grid System
@import "core/variables";           // Base variables repository, Bootstrap variables overwrites
// @import "styles";

/********************************************/
/*                                          */
/*  THIS SHOULD BE IN THE FILE "VARIABLES"  */
/*                                          */
/********************************************/

// GLOBAL VALUES
// --------------------------------------------------

// Color Scheme
$generalBackgroundColor:  #E0FFFF !default;
$generalTextColor:        #333    !default;

// Typography
$generalFont:             'Droid Sans', Helvetica, Arial, sans-serif !default;
$generalFontSize:         16px  !default;
$generalLineHeight:       1.5em !default;

// Headers
$headerFontFamily:  'Droid Serif', Georgia, Times, serif !default;
$headerFontWeight:  bold;
$headerFontStyle:   normal;
$headerFontColor:   #333;


$defaultInputBorderRadius:  3px !default;




/********************************************/
/*                                          */
/*    THIS SHOULD BE IN THE FILE "STYLES"   */
/*                                          */
/********************************************/
*, *:before, *:after {
  @include box-sizing(border-box);
}

body {
  background-color: $generalBackgroundColor;
  font: $generalFontSize $generalFont;
  line-height: $generalLineHeight;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerFontFamily;
  font-weight: $headerFontWeight;
  font-style: $headerFontStyle;
  color: $headerFontColor;
}




a {
  color: #84BCDE;

  &:hover {
   color: #fff;
  }
}

h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}

#container {

  @include container;
  @include pie-clearfix;
  #header, #footer {
    @include column(24, true); }
  #sidebar {
    @include column(3);
    margin-top: 21px;
  }
  #content {
    @include column(20, true); }

  #header {
    .user-menu {
      float: right;
    }
  }

  table {
      $table-color: #7a98c6;
      @include table-scaffolding;
      @include inner-table-borders(2px);
      @include outer-table-borders(2px);
      td, th {
        padding: 5px;
      }
  }

  .multi {
    margin-left: 10px;
    margin-bottom: 15px;
    margin-top: 10px;
    #debtors {
      label {
        width: 24%;
      }
    }
  }

  label {
    float: left;
    width: 25%;
  }
}

.green {
  color: green;
}

.red {
  color: red;
}

.flash {
  padding: 5px;
  .notice {
    @include notice;
    background-color: #DADBB1;
    border-color: #DADBB1;
  }
}

input {
  border: 1px solid #DDD;
  padding: 8px;
  @include border-radius($defaultInputBorderRadius);
}
.user_new input[type="email"], .user_new input[type="password"] {
  background: #fff image-url("icons/credentials.png") no-repeat;
  height: 34px;
  line-height: 15px;
  padding-left: 30px;
  &#user_password {
    background-position: -8px -141px;
    @include border-top-radius(0)
  }
  &#user_email {
    background-position: -10px -104px;
    margin-bottom: -1px;
    @include border-bottom-radius(0)
  }
}
