%li.field
  = label_tag "Who participated?"
  = select_tag :"debtors[]", options_for_select([["YOU (#{current_user.email})", current_user.id]] + User.without(current_user).all.collect{|u| [u.email, u.id]}, selected)
